*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    background: #1f2a36;
    color: white;
}
h1{
    padding-top: 10px;
    margin: 25px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
h3{
    margin: 4px;
    padding: 2px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #58a6ff;
}
a:hover{
    color: #83aad8;
    text-decoration: underline;
}
.project{
    border: 2px solid #00ff95;
    padding: 30px;
    margin: 30px;
    /* text-align: center; */
    border-radius: 14px;
}
.sno{
    font-size: 23px;
    text-align: left;
}
.title{
    font-size: 30px;
    padding: 6px;
    margin-left: 300px;
    text-decoration: underline;
}
.desc{
    font-size: 28px;
}
span{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}
.live-hosted{
    color: #e22be2;
}
.source-code{
    color: springgreen;
}